body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

address {
  display: flex;
}

img {
  float: right;
  max-width: 99%;
}

.contactInfo {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: antiquewhite;
  width: 48%;
  margin-right: 10px;
}

.contactInfo a {
  word-wrap: break-word;
}

.imgContainer {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: antiquewhite;
  width: 48%;
}

section {
  padding: 3px;
  border: 1px solid rgba(200, 200, 200, 0.7);
  margin: 3px;
  border-radius: 3px;
  background-color: rgb(230, 230, 230);
}

ul {
  padding-inline-start: 0;
}

li {
  list-style: none;
  padding: 5px;
  border: 1px solid rgba(200, 200, 200, 0.7);
  margin: 5px 0;
}

@media only screen and (min-device-width: 768px) {
  header {
    text-align: center;
  }
  address {
    justify-content: space-between;
    margin-bottom: 20px;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
  }
  img {
    max-width: 200px;
  }
}